@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trollesundsvägen <br />
    123 Bandhagen<br />    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@film.com">Support@film.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@film.com">Marketing@film.com</a>
</address>