@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filmdatabas i ASP.NET</h1>
    <p class="lead">En testsida för en Filmdatabas i ASP.NET</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filmer</h2>
        <p>
            Hyr filmer i databasen. Kommer snart.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kunder</h2>
        <p>Lista över kunder i databasen, och vilken film de har hyrt. Kommer snart.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Loginfunktioner - hyr filmer och hantera access. Kommer snart.</p>
        
    </div>
</div>